html {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
  font-family: 'TrumpGothicEastRegular', Helvetica, Arial, "Trebuchet MS", Tahoma, Arial, sans-serif;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
aside,
article,
footer {
  background: rgba(86, 248, 248, 0.4);
  display: flex;
  height: 30vh;
}

.topnav {
  float:left;
  background-color: lightgray;
  opacity: 1;
  height:12em;
  width:100%;
}

nav > ul > li {
  width:8em;
  float: left;
  height: 8em;
  border-radius: 50%;
  background-color:blueviolet;
  list-style: none;
  align-content: center;
}

nav > ul > li > a {
  text-decoration: none;
  font-weight: 900;
  color: azure;
  font-size: 1.4em;
}